
.container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
  
}
.stars {
  background-color: white;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  margin-top: 1%;
  margin-left: 60%;
  animation-duration: 1s;
  animation-name: twinkle;
}

.star-2 {
  margin-top: 5%;
  margin-left: 25%;
  animation-duration: 0.9s;
  animation-name: twinkle;
}

.star-3 {
  margin-top: 2%;
  margin-left: 50%;
  animation-duration: 1.1s;
  animation-name: twinkle;
}

@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

h1 {
  font-weight: 500;
}
.airplane img {
  max-width: 100%;
  height: auto;
  width: 150px;
}
.airplane {
  margin-top: 25%;
  margin-left: 1%;
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

audio {
  position: absolute;
  width: 300px;
  height: 54px;
  right: 2%;
  bottom: 5%;
}
.portfolio {
  position: absolute;
  top: 100px;
  right: 20%;
  z-index: 10;
  
}
.content__item {
  padding: 30px 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 20px;
}
.content__item a{
  text-decoration: none;
  color: white;
  font-size: large;
}

@keyframes move {
  0% {
    margin-top: 0%;
    margin-left: 0%;
  }
 /* 60% {
    margin-top: -5%;
    margin-left: 25%;
  }; 
  75% {
    margin-top: -15%;
    margin-left: 50%;
  }*/

  100% {
    margin-top: -20%;
    margin-left: 99%;
  }
}
.text {
  color: white;
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
.poem {
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 913px) {
  .text {
    margin-top: 15%;
  }
}
@media(max-width:770px){
  .text {
    display: none;
  }
}

@media (max-width: 415px) {
  @keyframes move {
    0% {
      margin-top: -10%;
      margin-left: 0%;
    }
  
    100% {
      margin-top: -30%;
      margin-left: 99%;
    }
  }
  .airplane img {
    width: 80px;
  }
  
}
 @media (max-height: 415px) {
  audio {
    width: 220px;
    height: 30px;
    bottom: 2%;
  }
} 

