* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /*меняет ширину блока, чтобы было удобно верстать*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
} /*убрали линию обводки у некоторых браузеров*/

nav,
footer,
header,
aside {
  display: block;
} /*делает эти элементы блочными*/

html,
body {
  height: 100%; /*Обязательно!*/
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} /*уравнивают поведение шрифтов и элементов для разных браузеров, в т.ч. запрещают увеличение шрифта на телефоне*/

input,
button,
textarea {
  font-family: inherit;
} /*чтобы наследовали шрифты (поумолчанию в браузерах не наследуются)*/

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
} /*устранили недостатки некоторых браузеров*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; /*наследовать*/
  font-weight: inherit;
} /*обнулили все заголовки*/
html,
body{
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  font-weight: 400;
  font-family: "Raleway";
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {     /*._ означает технический класс*/
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing:content-box;  /*или просто увеличиваем на 30рх max-width и box-sizing остается border-box*/
}
/*-----------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  min-height: 100px;
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing:content-box; 
}
.header__logo {
  display: flex;
}
.header__logo-img{
  display: block;
  width: 63px;
  height: 35px;
  margin-right: 15px;
  align-self:center;
}

.header__logo-link{
  display: block;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.header__right {
  display: flex;
}
.header__menu {
}
.menu {
  padding: 5px 0;  /*отступ безопасности при сжимании окна*/ /*АДАПТИВ*/
}
.menu__list {
  display: flex;
}
.menu__item{
  display: inline-block;
  margin: 0 10px;
  line-height: 28px;
  border-bottom: 5px solid #4BA87D;
}
.menu__item a{
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 1.275px;
  color: #000000;
  text-decoration: none;
}
.header__btn {
  display: inline-block;
  width: 168px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  border: none;
  background: #4BA87D;
}
.header__btn a{
  font-weight: 800;
  font-size: 17px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1.275px;
}
@media(max-width:992px) {
  .header__container {
    min-height: 66px;
  }
  .header__logo-link {
    font-size: 22px;
  }
  .header__logo-img{
    width: 41px;
    height: 23px;
  }
  .menu__item {
    line-height: 21px;
  }
  .menu__item a{
    letter-spacing: 0.825px;
    font-size: 11px;
  }
  .header__btn {
    align-self:center;
    width: 110px;
    height: 25px;
    line-height: 25px;
  }
  .header__btn a {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.825px;
  }
}
@media(max-width: 667px){
  .menu__list{
    display: none;
  }
}
/*--------------------------------*/
.main {
  position: relative;
  
}
.main-fon {
  position: absolute;
  left: 0;
  top: 92px;
  width: 100%;
  height: auto;
  z-index: -10;
}
.main__content {
  min-width: 100%;
  min-height: 100vh;
  background-image: url(../img/BG.png) ;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/*-----------------------------------*/
.hero{
  position: relative;
  width: 75%;
  margin: 100px auto 128px;

}
.hero img{
  position: absolute;
  right: -15px;
  top: -12px;
  width: 63%;
  height: auto;
  z-index: -1;
}
.hero-left {
  width: 46%;
  margin-bottom: 44px;
}
.hero-topic {
  padding-top: 16px;
  margin-bottom: 20px;
}
.topic {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 59px;
  line-height: 1.2;
  color: #000000;

}
.hero-text {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 19px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 35px;
}
.btn {
  width: 200px;
  height: 65px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  margin-bottom: 44px;
}

.btn a{
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1.05px;
}
.btn:active{
  box-shadow: none;
}
.btn-g {
  background-color: #4BA87D;
  margin-right: 45px;
}
.btn-g  a{
  color: #FFFFFF;
}
.btn-w {
  background-color: #FFFFFF;
  border: 3px solid #4BA87D;
}
.btn-w a {
  color: #4BA87D;
}
/*-------------------------------------*/
.video {
  margin-left: 17.5%;
  margin-top: 290px;
  margin-bottom: 100px;
  width: 65%;
  height: 531px;
}
.video-contain{
  background:url(../img/video.png)center center/cover no-repeat;
  width: 100%;
  height: 531px;
  text-align: center;
}
.video .topic{
  color: white;

}
.video-name{
  margin-bottom: 60px;
  padding: 163px 145px 0;
}
.video .btn{
  border: none;
}
/*-----------------------------------*/

.container-2 {
  width: 75%;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}
.card {
  background-color: white;
  width: 320px;
  height: 450px;
}
.card-image {
  width: 320px;
  height: 250px;
  overflow: hidden;
}
.card-text {
  margin: 20px 30px 40px;
  font-weight: 500;
  font-size: 16px;  

}
.card a {
  display: block;
  margin: 0 30px;
  font-weight: 800;
  font-size: 16px;
  color: #4BA87D;
}
.card-2 {
  margin-top: 88px;
}
.card-read {
  margin-top: 138px;
  width: 365px;
  height: 324px;
}
.card-read-topic {
  font-size: 44px;
line-height: 47px;
margin-bottom: 24px;
}

.card-read-text {
  margin-right: 40px;
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
}
/*--------------------------------------*/
.form-list {
  margin-bottom: 75px;
}
.form-list h4 {
  margin-top: 153px;
  margin-left: 27px;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  color: #FFFFFF;
}
.form-list p {
  margin-left: 27px;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}
.form-list-top {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 340px;
  height: 240px;
}
.item1 {
background: url(../img/f-l1.png)center center/cover no-repeat;
}
.item2 {
  background: url(../img/f-l2.png)center center/cover no-repeat;
}
.item3 {
  background: url(../img/f-l3.png)center center/cover no-repeat;
}
.form-list-bottom-top {
  width: 70%;
  font-size: 44px;
  line-height: 48px;
  margin: 40px auto 50px;
  text-align: center;
}
form .btn {
  margin-bottom: 0;
  margin-left: 25px;
  box-shadow: none;
}
#list-button {
  width: 221px;
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1.05px;
  color: #FFFFFF;
}
.form-list-bottom-form {
  text-align: center;
}
.email {
  width: 420px;
  height: 65px;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 5px;
}
.email::placeholder {
  padding-left: 25px;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 1.05px;
  }
.email-label {
  text-align: center;
  margin-top: 20px;
  margin-left: -410px;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 1.05px;
  color: #4BA87D;
}
/*---------------------------------------*/
.brands {
  margin: 0 auto;

}
.brands-top {
  font-weight: 900;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 80px;
}

.brands-logo {
height: 48px;
text-align: center;
line-height: 48px;
margin-bottom: 140px;
}
.brands-logo img{
margin-right: 65px;
vertical-align: middle;
}
.brands-logo:last-child {
  margin-right: 0;
}
/*--------------------------------------*/
.plan {
  background-color: #4BA87D;
  padding-top: 80px;
  padding-bottom: 95px;
}
.plan-top {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.plan-bottom {
text-align: center;
}
.plan .btn-w {
  border: none;
}
.plan .btn {
  margin-bottom: 0;
  box-shadow: none;
}
/*---------------------------------------*/
.footer-contain {
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid #DBDBDB;
}
.footer-left{
  display: inline-block;
  width: 30%;
  }
.footer-left .nav-logo {
  margin-top: 0px;
  display: inline-block;
}
.footer-right{
  display: inline-flex;
  justify-content: space-between;
  width: 55%;
  margin-bottom: 60px;
}
.footer-right a{
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #000;
}
.footer-right ul li{
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  font-weight: bold;
font-size: 15px;
}
.footer-bottom-links a, span {
  display: block;
  color: #000;
}
.footer-bottom-links {
  display: flex;
  justify-content: space-between;
  width: 273px;
}

/*------------------------------*/

@media(max-width: 340px){
  .menu-items{
    display: none;
  } 
  .nav-logo, .nav-right {
    
  }
}